.main-image {
  width: 95%;
  margin: auto;
  background: black;
  object-fit: cover;
  border-radius: 3px;
}
.mini-image {
  padding-left: 4px;
  width: 100%;
  opacity: 50%;
  object-fit: cover;
  transition: all 200ms;
  z-index: 0;
  cursor: pointer;
}
.mini-image:hover {
  opacity: 80%;
  transform: scale(1.1);
}

.mini-image-selected {
  padding-left: 4px;
  width: 100%;
  opacity: 100%;
  object-fit: cover;
  transition: all 200ms;
  z-index: 0;
  cursor: pointer;
  transform: scale(1.2);
}

.buttons {
  margin: 0;
  padding: 0;
  background: none;
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 200ms;
  border: none;
  color: white;
  z-index: 10;
  opacity: 50%;
}
.buttons:hover {
  opacity: 90%;
}
.buttons img {
  width: 40px;
}
#button-prev {
  margin: 0;
  left: 0;
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 36%,
    rgba(255, 255, 255, 0) 100%
  );
}
#button-next {
  right: 0;
  background: #000000;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 36%,
    rgba(255, 255, 255, 0) 100%
  );
}

#mini-images-container {
  width: 100%;
}
