p {
  color: #3d3d3d;
}
.banner {
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background-image: url("https://img.freepik.com/free-psd/tropical-foliage-background_53876-91352.jpg?semt=ais_hybrid&w=740");
}
.banner-content {
  background: #0000009f;
  height: 100%;
}
.banner-logo {
  width: 90%;
  height: auto;
  animation: zoom_animation 300ms ease-in;
}

h1,
h5,
h4,
p,
button {
  animation: fade_animation 300ms ease-in;
}

.button {
  width: 100%;
  background: rgb(5, 218, 100);
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 100px;
}
.btn {
  border-radius: 0;
  border: none;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 30px black;
}
