.service-card {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.055);
  padding: 50px;
  margin-bottom: 30px;
  height: 90%;
  border: 1px solid rgb(223, 223, 223);
  border-bottom: 10px solid rgb(89, 89, 255);
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}

.services li {
  border-bottom: 1px solid rgb(136, 136, 136);
  margin: 3px;
  padding: 6px;
}
.image-hands {
  width: 50%;
  display: grid;
  margin: auto auto;
  background: whitesmoke;
  border-radius: 100%;
}

img {
  animation: fade_animation 500ms ease-in;
}
h1,
h3,
h4,
h5,
ul {
  animation: fade_animation 200ms ease-in;
}
